<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <script
      src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['gauge']}]}"></script>
    <style>
      time {
        color: red;
      }

      #gauge_div {
        width:280px;
        height: 140px;
      }

      span.customerId {
        color: red;
      }
    </style>
    <link rel="stylesheet" href="bower_components/switchery/dist/switchery.css">
    <script src="bower_components/switchery/dist/switchery.js"></script>
  </head>

  <body>
    <h1 id="customer-data">Customer: <span class="customerId"></span></h1>
    <% if (currentTemp.value !== Number.NEGATIVE_INFINITY) { %>
      <div id="gauge_div"></div>
      <input id="new-temp" type="range" max="40" min="0" step="1" value="22">

      <p>Last Updated: <time><%= currentTemp.metadata && currentTemp.metadata.timestamp.toLocaleString('es-ES') %></time></p>

      <label>Boiler Status:<input type="checkbox" class="js-switch"></label>
    <% } %>

    <script src="js/therm_control.js"></script>
    <script>
      ThermController.init(<%= currentTemp.value %>, <%= desiredTemp %>, '<%= boilerStatus %>');
    </script>
  </body>
</html>
